<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title> Mon premier php </title>
</head>

<body>
    <form method="post" action="creerVoiture.php">
        <fieldset>
            <legend>Inscription :</legend>
            <p>
                <label for="user_mail">Adresse e-mail<abbr title="Ce champ est obligatoire">*</abbr> </label> :
                <input type="email" placeholder="Votre adresse email" name="user_mail" id="user_mail" required />
            </p>
            <p>
                <label for="user_lastname">Nom<abbr title="Ce champ est obligatoire">*</abbr> </label> :
                <input type="text" placeholder="Dupont" name="user_lastname" id="user_lastname" required />
            </p>
            <p>
                <label for="user_firstname">Prenom<abbr title="Ce champ est obligatoire">*</abbr> </label> :
                <input type="text" placeholder="Julien" name="user_firstname" id="user_firstname" required />
            </p>

            <p>
                <label for="datenaissance_id">Date de naissance<abbr title="Ce champ est obligatoire">*</abbr> </label> :
                <input type="date" max="2010-01-01" min="1900-01-01" name="datenaissance_id" required/>
            </p>
            <p>
                <label for="avatar_id">Photo</label> :
                <input type="file" accept="image/png, image/jpeg" name="avatar" id="avatar" />
            </p>

            <p>
                <label for="Code-postal">Code postal<abbr title="Ce champ est obligatoire">*</abbr> </label> :
                <input type="text" placeholder="Dupont" name="nom" id="nom" required />
            </p>

            <p>
                <label for="user_phone"> </label>N° de téléphone<abbr title="Ce champ est obligatoire">*</abbr> :
                <input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" placeholder="06097978" name="user_phone" id="user_phone" required />
            </p>
            <p>
                <fieldset>
                    <legend>Permis de conduire <abbr title="Ce champ est obligatoire">*</abbr></legend>
                    <input type="radio" required name="title" id="r1" value="True"><label for="r1">Oui</label>
                    <input type="radio" required name="title" id="r2" value="False"><label for="r2">Non</label>
                </fieldset>
            </p>

            <p>
                <fieldset>
                    <legend>Venez vous avec votre véhicule ? <abbr title="Ce champ est obligatoire">*</abbr></legend>
                    <input type="radio" required name="title" id="r3" value="True"><label for="r3">Oui</label>
                    <input type="radio" required name="title" id="r4" value="False"><label for="r4">Non</label>
                </fieldset>
            </p>

            <p>
                <fieldset>
                    <legend>Avez vous besoin d'être hébergé ? <abbr title="Ce champ est obligatoire">*</abbr></legend>
                    <input type="radio" required name="title" id="r5" value="True"><label for="r5">Oui</label>
                    <input type="radio" required name="title" id="r6" value="False"><label for="r6">Non</label>
                </fieldset>
            </p>

            <p>
                <fieldset>
                    <legend>Pouvez vous héberger des personnes ? <abbr title="Ce champ est obligatoire">*</abbr></legend>
                    <input type="radio" required name="title" id="r7" value="True"><label for="r7">Oui</label>
                    <input type="radio" required name="title" id="r8" value="False"><label for="r8">Non</label>
                </fieldset>
            </p>

            <label for="couchage_id">Si oui, combien et pouvez-vous nous expliquer la configuration de couchage ?</label> <br/>
            <textarea id="couchage_id" name="couchage" rows="5" cols="33"> clic-clac, chambre d'ami, accès indépendant...
            </textarea> <br/>

            <label for="arrivee_id">Votre jour et horaire approximatifs d'arrivée à Pézenas</label> :
            <input type="datetime-local" name="arrivee_id" id="arrivee_id" /> <br/>

            <label for="depart_id">Votre jour et horaire approximatifs de départ de Pézenas</label> :
            <input type="datetime-local" name="depart_id" id="arrivee_id" />

            <p>
                <input type="submit" value="Envoyer" />
            </p>
        </fieldset>
    </form>
</body>

</html>
