<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title> Mon premier php </title>
</head>

<body>
    <form method="post" action="creerVoiture.php">
        <fieldset>
            <legend>Inscription :</legend>
            <p>
                <label for="user_mail">Adresse e-mail<abbr title="Ce champ est obligatoire">*</abbr> </label> :
                <input type="email" placeholder="Votre adresse email" name="user_mail" id="user_mail" required />
            </p>
            <p>
                <label for="user_lastname">Nom<abbr title="Ce champ est obligatoire">*</abbr> </label> :
                <input type="text" placeholder="Dupont" name="user_lastname" id="user_lastname" required />
            </p>
            <p>
                <label for="user_firstname">Prenom<abbr title="Ce champ est obligatoire">*</abbr> </label> :
                <input type="text" placeholder="Julien" name="user_firstname" id="user_firstname" required />
            </p>

            <p>
                <label for="datenaissance_id">Date de naissance<abbr title="Ce champ est obligatoire">*</abbr> </label> :
                <input type="date" max="2010-01-01" min="1900-01-01" name="datenaissance_id" required />
            </p>
            <p>
                <label for="avatar_id">Photo</label> :
                <input type="file" accept="image/png, image/jpeg" name="avatar" id="avatar" />
            </p>

            <p>
                <label for="code_postal">Code postal<abbr title="Ce champ est obligatoire">*</abbr> </label> :
                <input type="number" placeholder="34000" name="code_postal" id="code_postal" required />
            </p>

            <p>
                <label for="user_phone"> </label>N° de téléphone<abbr title="Ce champ est obligatoire">*</abbr> :
                <input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" placeholder="06097978" name="user_phone" id="user_phone" required />
            </p>
            <p>
                <label for="permis">Permis de conduire<abbr title="Ce champ est obligatoire">*</abbr>
                    <input type="radio" required name="permis" id="permis" value="True">Oui
                    <input type="radio" required name="permis" id="permis" value="False">Non
                </label>
            </p>

            <p>

                <label for="vehicule">Venez vous avec votre véhicule ? <abbr title="Ce champ est obligatoire">*</abbr>
                    <input type="radio" required name="vehicule" id="vehicule" value="True">Oui
                    <input type="radio" required name="vehicule" id="vehicule" value="False">Non
                </label>
            </p>

            <p>
                <label for="besoin_heberge">Avez vous besoin d'être hébergé ?<abbr
                        title="Ce champ est obligatoire">*</abbr>
                    <input type="radio" required name="besoin_heberge" id="besoin_heberge" value="True">Oui
                    <input type="radio" required name="besoin_heberge" id="besoin_heberge" value="False">Non
                </label>
            </p>

            <p>
                <label for="peut_heberge">Pouvez vous héberger des personnes ?<abbr
                        title="Ce champ est obligatoire">*</abbr>
                    <input type="radio" required name="peut_heberge" id="peut_heberge" value="True">Oui
                    <input type="radio" required name="peut_heberge" id="peut_heberge" value="False">Non
                </label>
            </p>

            <label for="couchage_id">Si oui, combien et pouvez-vous nous expliquer la configuration de couchage ?</label> <br />
            <textarea id="couchage_id" name="couchage" rows="5" cols="33" placeholder=" clic-clac, chambre d'ami, accès indépendant..."></textarea> <br />

            <label for="arrivee_id">Votre jour et horaire approximatifs d'arrivée à Pézenas</label> :
            <input type="datetime-local" name="arrivee_id" id="arrivee_id" /> <br />

            <label for="depart_id">Votre jour et horaire approximatifs de départ de Pézenas</label> :
            <input type="datetime-local" name="depart_id" id="arrivee_id" />

            <!-- TODO: Disponibilité -->

            <!-- TODO: Autres crénaux -->

            <p>
                <label for="dispo_flyer">Seriez-vous disponible pour flyer en amont du festival ?
                    <input type="radio" required name="dispo_flyer" id="dispo_flyer" value="True">Oui
                    <input type="radio" required name="dispo_flyer" id="dispo_flyer" value="False">Non
                </label>
            </p>

            <!-- TODO: Comissions -->

            <label for="choisirconcert_id">Choisissez un concert auquel vous souhaiteriez assister</label>
            <select name="choisirconcert" id="choisirconcert_id">
                <!-- TODO : l'affichage de cette partie doit être automatisé avec le php -->
                <option >Sélectionner</option>
                <option value="Cinéma le Molière">13/04 - Cinéma Le Molière - film Daniel Darc - lecture Dimoné</option>
                <option value="Théâtre Historique">14/04 -Théâtre Historique - 20h30- Estelle Meyer + Wally Le Projet Derli</option>
                <option value="Théâtre Historique">15/04 - Théâtre Historique - 14h30 -  Presque Oui Icibalao (Jeune Public)</option>
                <option value="Théâtre Historique">15/04 - Théâtre Historique - 19h - Jerrycan</option>
                <option value="Foyer des campagnes">15/04 - Foyer des Campagnes - 21h - La Pieta + Soirée Girls Gang</option>
                <option value="PI. Gambetta">16/04 - Pl. Gambetta - 12h - Création Canada/Occitanie</option>
                <option value="Théâtre Historique">16/04 - Théâtre Historique - 19h - programmation en cours</option>
                <option value="Foyer des campagnes">16/04 - Foyer des Campagnes - 21h - Natasha Kanapé + Diane Tell</option>
                <option value="PI. Gambetta">17/04 - Pl. Gambetta - 12h - François Bijou</option>
                <option value="Théâtre Historique">17/04 - Th. Historique - 14h - Remise des coups de Cœur Chanson de l'Académie Ch. Cros</option>
                <option value="Théâtre Historique">17/04 - Th. Historique - 19h - Clara Ysé</option>
                <option value="Foyer des campagnes">17/04 - Foyer des Campagnes - 21h - Nemir</option>
                <option value="PI. Gambetta">17/04 - Foyer des Campagnes - 21h - Nemir</option>
                <option value="Foyer des campagnes">Foyer des campagnes</option>
            </select>

            <p>
                <label for="deja_benevole">Avez-vous déjà été bénévole sur le festival ?<abbr title="Ce champ est obligatoire">*</abbr>
                    <input type="radio" required name="deja_benevole" id="deja_benevole" value="True">Oui
                    <input type="radio" required name="deja_benevole" id="deja_benevole" value="False">Non
                </label>
            </p>

            <label for="motivation_id">Si non, pourriez-vous nous expliquer brièvement votre motivation ?</label> <br />
            <textarea id="motivation_id" name="motivation" rows="5" cols="25" placeholder="Votre réponse"></textarea> <br />

            <label for="allergie_id">Avez-vous des allergies / régimes particuliers ?</label> <br />
            <textarea id="allergie_id" name="allergie" rows="5" cols="25" placeholder="Votre réponse"></textarea> <br />

            <label for="autres_id">Avez-vous d'autres requêtes / questions / remarques ?</label> <br />
            <textarea id="autres_id" name="autres" rows="5" cols="25" placeholder="Votre réponse"></textarea>

            <p>
                <input type="submit" value="Envoyer" />
            </p>
        </fieldset>
    </form>
</body>

</html>