/*
GLOBAL
*/

body {
	background-color: #938A62;
}

h1,h2,h3,h4,h5 {
	font-family: 'Oswald', sans-serif;
}

p, table {
	font-family: 'Roboto', sans-serif;
}

header {
	display: flex;
}

header > h1 {
	margin: 50px auto 50px auto;
	color: #F8CB00;
	text-align: center;
}

/*
FORMULAIRE
*/

article {
	display: flex;
}

form {
	width: 500px;
	padding: 15px;
	margin: auto;
	background-color: #E6E1CC;
	border: solid;
	border:1px solid grey;
	border-radius: 5px;
	-moz-box-shadow: 0 0 8px grey;
	-webkit-box-shadow: 0 0 8px grey;
	box-shadow: 0 0 8px grey;
}

form p {
	margin: 0;
	display: block;
}

form label {
	font-weight: bold;
}

form table label {
	font-weight: normal;
}

td {
	text-align: center;
}

.firstColumn {
	text-align: left;
}

form input[type=text], 
form input[type=date],
form input[type=email],
form input[type=number],
form input[type=tel],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
	display: block;
	margin: 3px auto auto auto;
}
form input[type=text]:focus, 
form input[type=date]:focus,
form input[type=email]:focus,
form input[type=number]:focus,
form input[type=tel]:focus,

form textarea:focus, 
form select:focus{
	-moz-box-shadow: 0 0 8px #F8CB00;
	-webkit-box-shadow: 0 0 8px #F8CB00;
	box-shadow: 0 0 8px #F8CB00;
	border: 1px solid #F8CB00;
}


form input[type=submit] {
	border: solid;
	border-color: #F8CB00;
	padding: 15px;
	font-family: 'Orbitron', sans-serif;
	color: #2D2B24;
}

form input[type=submit]:hover {
	background-color: #F8CB00;
	border-color: #2D2B24;
	transition: 0.4s;
}

form abbr{
	color:red;
	text-decoration: none;
}

.contentDouble {
	display: flex;
}

.content {
	margin: 0 0 30px 0;
}

.contentDouble > p {
	height: 100%;
	width: 100%;
	text-align: left;
}

.contentDouble p:nth-child(2) {
	margin-left: 5px;
}

.field {
	width: 100%;
}

.date-time {
	display: flex;
}

.envoyer {
	display: flex;
}

.envoyer > p {
	margin: auto;
}

.envoyer > p > input {
	font-weight: bold;
}
